/* Styles pour le menu burger */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Styles pour le menu ouvert */
.menu-nav.active {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-nav.active a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.3s ease;
}

.menu-nav.active a:hover {
    color: #ff4500;
}


/* j'ai laissé mes codes pour le menu burger mais j'ai pas réussi a le faire marcher*/